<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{page.title}}</title>

    <link rel="stylesheet" href="{{'/vendor/foundation.min.css' | relative_url}}">
    <link rel="stylesheet" href="{{'/vendor/styleguide-v2.1.css' | relative_url}}">
    <link rel="stylesheet" href="{{'/vendor/slick.css' | relative_url}}"/>
    <link rel="stylesheet" href="{{ '/vendor/foundation.min.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url}}">

    <script src="https://use.typekit.net/mvc3cdb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
  </head>
  <body class="cbp-spmenu-push">
    {% include top-bar.html %}

    {{content}}

    {% include footer.html %}
    {% include copyright.html %}

    <div id="overlay" class="js-overlay"></div>
    <script src="{{'/vendor/jquery-2.1.4.min.js' | relative_url}}"></script>
    <script src="{{'/vendor/slick.min.js' | relative_url}}"></script>
    <script src="{{'/js/bundle.js' | relative_url}}"></script>

  </body>
</html>
