---
layout: default
title:
description:
seo_image_path: #'/images/media/filename.jpg'
---

<main role="main" id="insight">

  {% include nav.html %}

  <section class="top-section">
    <div class="row">
      <div class="column large-12 medium-12 small-12">
        <a class="arrow-back" href="{{ '/insights.html' | relative_url }}"><i class="material-icons">arrow_back</i>All Insights</a>
      </div>
      <div class="column large-12 medium-12 small-12">
        <h1>Insight</h1>
      </div>
      <div class="column large-7 medium-12 small-12 title-column">
        <h2>{{ page.insight_title }}</h2>
        <p class="description">{{ page.short_description }}</p>
      </div>
      <div class="column large-4 medium-12 small-12">
        <div class="quote-container">
          <q>{{ page.featured_quote.quote }}</q>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row">
      <div class="column large-7 medium-12 small-12 insight-description">
        {{ page.long_description | markdownify }}
      </div>

      <div class="column large-4">
        <div class="themes-quotes-container">
          <div class="themes">
            <h3>Themes</h3>
            {% for theme in page.related_theme %}
              <a href="#" class="tag">{{ theme }}</a>
            {% endfor %}
          </div>

          <div class="quotes">
            <h3>Quotes</h3>
            {% for quote in page.related_quotes %}
              <q cite="">{{ quote.quote | markdownify }}</q>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="divider divider--blue">
    <div class="row">
      <div class="column large-12">
        <h4>Related Resources</h4>
        <a class="arrow-forward" href="{{ '/recommendations.html' | relative_url }}">All Recommendations <i class="material-icons">arrow_forward</i></a>
      </div>
    </div>
  </section>

  <section class="">
    <div class="row expanded">
      {% for recommendation in page.related_recommendations %}
        <a href="{{ recommendation.page_title | slugify | prepend: '/recommendations/' | append: '.html' | relative_url }}" class="column large-4 medium-6 small-12 card">{{ recommendation.recommendation | markdownify }}</a>
      {% endfor %}
    </div>
  </section>

  <section class="divider divider--blue">
    <div class="row">
      <div class="column large-12">
        <h4>Related Resources</h4>
      </div>
    </div>
  </section>

  <section class="">
    <div class="row expanded">
      {% for resource in page.related_resources %}
        <a href="{{ resource.resource_url }}" class="column large-4 medium-6 small-12 card card--resource">
          <h5>{{ resource.resource_title }}</h5>
          {{ resource.resource_description | markdownify }}
          <span class="type">{{ resource.resource_type }}</span>
        </a>
      {% endfor %}
    </div>
  </section>
</main>
