---
layout: default
title:
description:
seo_image_path: #'/images/media/filename.jpg'
---

<main role="main" id="recommendation">

  {% include nav.html %}

  <section class="top-section">
    <div class="row">
      <div class="column large-12 medium-12 small-12">
        <a class="arrow-back" href="{{ '/recommendations.html' | relative_url }}"><i class="material-icons">arrow_back</i>All Recommendations</a>
      </div>
      <div class="column large-12 medium-12 small-12">
        <h1>Recommendation</h1>
      </div>
      <div class="column large-7 medium-12 small-12 title-column title-column--recommendation">
        <h2>{{ page.recommendation | markdownify }}</h2>
      </div>
      <div class="column large-4 medium-12 small-12">
        <div class="tag-container">
          {% if page.theme_tag %}
            <div class="themes">
              <h3>Related Themes</h3>
              {% for theme in page.theme_tag %}
                <a class="tag tag--white tag-filter-link" href="{{ theme | slugify | prepend: '/themes/' | append: '.html' | relative_url }}" filter-tag="theme" filter-query="{{ theme | slugify }}">{{ theme }}</a>
              {% endfor %}
            </div>
          {% endif %}

          {% if page.insight_tag %}
            <div class="insights">
              <h3>Related Insights</h3>
              {% for insight in page.insight_tag %}
                <a class="tag tag--white tag-filter-link" href="{{ insight | slugify | prepend: '/insights/' | append: '.html' | relative_url }}" filter-tag="insight" filter-query="{{ insight | slugify }}">{{ insight }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section class="divider divider--white">
    <div class="row">
      <div class="column large-12">
        <h4>Related Recommendations</h4>
      </div>
    </div>
  </section>

  <section class="">
    <ul class="list">
      {% for resource in page.related_resources %}
        <li class="list__item list__item--insight">
          <a href="{{ resource.resource_url }}" class="card card--resource">
            <h5>{{ resource.resource_title }}</h5>
            {{ resource.resource_description | markdownify }}
            <span class="type">{{ resource.resource_type }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>
