---
layout: default
title:
description:
seo_image_path: #'/images/media/filename.jpg'
---

{% assign themes = site.data.contentful.theme.theme | sort: "page_title" %}

<main role="main" id="theme" data-page="{{ page.page_title | slugify }}">

  {% include nav.html %}

  <section class="top-section">
    <div class="row">
      <div class="column large-12 medium-12 small-12">
        <h1>Theme</h1>
      </div>
      <div class="column large-12 medium-12 small-12">
        <img src="{{ page.theme_icon.url }}" alt="{{ page.page_title }}">
      </div>
      <div class="column large-12 medium-12 small-12">
        <h2>{{ page.page_title }}</h2>
      </div>

      <div class="column large-12 medium-12 small-12">
        {{ page.short_description | markdownify }}
      </div>
    </div>
  </section>

  <section class="fixed-dropdown fixed-dropdown--themes">
    <div class="row align-center">
      <!-- <div class="select-wrapper"> -->
        <div class="select">
          <select class="redirect-dropdown-nav">
            {% for theme in themes %}
              <option class="redirect-dropdown-nav__option" value="{{ theme.page_title | slugify }}" data-page="{{ theme.page_title | slugify }}" data-path="{{ theme.page_title | slugify | prepend: '/themes/' | append: '.html' | relative_url }}">{{ theme.page_title }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    <!-- </div> -->
  </section>

  <section class="divider divider--white">
    <div class="row">
      <div class="column large-12">
        <h4>Related Insights</h4>
        <a class="arrow-forward" href="{{ '/insights.html' | relative_url }}">All Insights <i class="material-icons">arrow_forward</i></a>
      </div>
    </div>
  </section>

  <section class="">
    <div class="row expanded">
      <ul class="list" style="all: unset">
        {% for insight in page.related_insights %}
          <li class="list-item">
            <div class="title" style="display: none">{{ insight.insight_title | slugify }}</div>
            <a href="{{ insight.page_title | slugify | prepend: '/insights/' | append: '.html' | relative_url }}" class="card card--insight">
              {{ insight.insight_title | markdownify }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

</main>
