body {
  // color: green;
}

.footer {
  h2 {
    margin: 1em 0;
  }
  padding-top: 40px;
  &__nav {
    > a {
      text-align: left;
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding: 5px;
      &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.main-menu {
  box-shadow: none;
  overflow-y: hidden;
}
