h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  text-transform: none;
}

p, ul, ol {
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
}


.main-menu {
  box-shadow: none;
  overflow-y: hidden;
}

.top-bar {
  background-color: $primary-blue;
  display: none;
  @include breakpoint($small-only) {
    display: flex;
  }
  .main-menu {
    a {
      all: unset;
    }
  }
}
