.list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  &__item {
    color: $dark-gray;
    list-style-type: none;
    position: relative;
    vertical-align: top;
    width: calc(100% / 3);
    min-height: 28rem;
    @extend .u-transition;

    @include breakpoint($between-large) {
      width: calc(100% / 2);
    }
    @include breakpoint($medium-only) {
      width: calc(100% / 2);
    }
    @include breakpoint($between-medium) {
      width: calc(100% / 1);
    }
    @include breakpoint($small-only) {
      width: calc(100% / 1);
    }

    @include breakpoint($large) {
      &:nth-child(odd) {
        background-color: $cb-dark-gray;
      }

      &:nth-child(even) {
        background-color: $cb-light-gray;
      }
    }

    @include breakpoint($between-large) {
      background-color: $cb-dark-gray!important;
      &:nth-child(4n-2), &:nth-child(4n-1) {
        background-color: $cb-light-gray!important;
      }
    }

    @include breakpoint($medium-only) {
      background-color: $cb-dark-gray!important;
      &:nth-child(4n-2), &:nth-child(4n-1) {
        background-color: $cb-light-gray!important;
      }
    }

    @include breakpoint($between-medium) {
      &:nth-child(odd) {
        background-color: $cb-dark-gray!important;
      }
      &:nth-child(even) {
        background-color: $cb-light-gray!important;
      }
    }

    @include breakpoint($small-only) {
      &:nth-child(odd) {
        background-color: $cb-dark-gray;
      }
      &:nth-child(even) {
        background-color: $cb-light-gray;
      }
    }

    &:hover {
      background-color: $green!important;
      color: white!important;
    }
  }
}

.list--index-cards {
  line-height: 1.2;
  padding-top: 2rem;

  .list__item {
    position: relative;
    width: calc(100% / 2);

    @include breakpoint($large) {
      background-color: $cb-dark-gray!important;
      &:nth-child(4n-2), &:nth-child(4n-1) {
        background-color: $cb-light-gray!important;
      }
    }

    @include breakpoint($medium-only) {
      width: calc(100% / 2);
    }
    @include breakpoint($between-medium) {
      width: calc(100% / 1);
    }
    @include breakpoint($small-only) {
      width: calc(100% / 1);
    }

    &:hover {
      background-color: $green!important;
      img {
        -webkit-filter: invert(100%);
        filter: invert(100%);
      }
    }

    .card {
      font-family: $sans-serif;
      font-size: 2.5rem;
      font-weight: 900;

      @include breakpoint($large) {
        padding: 11rem 7rem 4rem 7rem;
      }

      @media screen and (min-width: 1024px) and (max-width: 1268px) {
        font-size: 2.2rem;
        min-height: 30rem;
        padding: 8rem 4rem 4rem 4rem;
      }

      @media screen and (min-width: 787px) and (max-width: 937px) {
        font-size: 1.7rem!important;
        padding-top: 2rem!important;
      }

      @include breakpoint($medium-only) {
        font-size: 1.8rem;
        padding: 4rem;
      }

      @include breakpoint($small-only) {
        font-size: 2rem;
        padding-top: 2rem;
      }
    }

    img {
      width: 4.8rem;
      padding-bottom: 2rem;
      @include breakpoint($medium-only) {
        font-size: 1.8rem;
        min-height: 10rem;
        padding-top: 5rem;
        width: 3.5rem;
      }
      @include breakpoint($small-only) {
        padding-top: 7rem;
        width: 4rem;
      }
    }
  }
}

.card {
  position: absolute;
  top: 0;
  bottom: 0;
  text-decoration: none!important;
  width: 100%;

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 0 1rem;
    padding-bottom: 4rem!important;
  }

  &:before {
    @extend .u-material-icons;
    content: 'arrow_forward';
    font-size: 2rem!important;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    @include breakpoint($small-only) {
      bottom: 3rem;
      right: 3rem;
    }
  }

  &--index-cards {
    &:before {
      @extend .u-material-icons;
      content: 'arrow_forward';
      font-size: 3.5rem!important;
      position: absolute;
      bottom: 4rem;
      right: 4rem;
      @include breakpoint($medium-only) {
        font-size: 2.5rem!important;
        bottom: 2rem;
        right: 2rem;
      }
      @include breakpoint($small-only) {
        font-size: 3.5rem!important;
        bottom: 2.5rem;
        right: 2.5rem;
      }
    }
  }

  &--recommendation {
    p {
      padding: 1rem 2rem;
      @media screen and (min-width: 787px) and (max-width: 937px) {
        font-size: 1.05rem;
      }
    }
  }

  &--insight {
    p {
      font-weight: bold;
      padding: 4rem;
    }
  }

  &--resource {
    h5 {
      font-size: 1.2rem;
      margin: 0;
      padding: 2rem 0 0 1rem;
    }

    p {
      font-family: $serif;
      padding-top: 0;
    }

    &:before {
      content: '';
    }

    .type {
      font-size: 0.75rem;
      font-family: $sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }
  }
}

.list__item--index-cards {
  @include breakpoint($large) {
    min-height: 35rem;
  }
  @media screen and (min-width: 1024px) and (max-width: 1268px) {
    min-height: 30rem;
  }
  @media screen and (min-width: 787px) and (max-width: 937px) {
    min-height: 25rem;
  }
}

.list__item--insight {
  min-height: 25rem;
}

.list__item--resource {
  min-height: 24rem;
}
