.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  &__item {
    color: $dark-gray;
    display: inline-block;
    list-style-type: none;
    position: relative;
    vertical-align: top;
    width: calc(100% / 3);
    min-height: 28rem;
    @extend .u-transition;

    @include breakpoint($between-large) {
      width: calc(100% / 2);
    }
    @include breakpoint($medium-only) {
      width: calc(100% / 2);
    }
    @include breakpoint($between-medium) {
      width: calc(100% / 1);
    }
    @include breakpoint($small-only) {
      width: calc(100% / 1);
    }

    @include breakpoint($large) {
      &:nth-child(odd) {
        background-color: $cb-dark-gray;
      }

      &:nth-child(even) {
        background-color: $cb-light-gray;
      }
    }

    @include breakpoint($between-large) {
      background-color: $cb-dark-gray!important;
      &:nth-child(4n-2), &:nth-child(4n-1) {
        background-color: $cb-light-gray!important;
      }
    }

    @include breakpoint($medium-only) {
      background-color: $cb-dark-gray!important;
      &:nth-child(4n-2), &:nth-child(4n-1) {
        background-color: $cb-light-gray!important;
      }
    }

    @include breakpoint($between-medium) {
      &:nth-child(odd) {
        background-color: $cb-dark-gray!important;
      }
      &:nth-child(even) {
        background-color: $cb-light-gray!important;
      }
    }

    @include breakpoint($small-only) {
      &:nth-child(odd) {
        background-color: $cb-dark-gray;
      }
      &:nth-child(even) {
        background-color: $cb-light-gray;
      }
    }

    &:hover {
      background-color: $green!important;
      color: white!important;
    }
  }
}

.card {
  position: absolute;
  top: 0;
  bottom: 0;
  text-decoration: none!important;
  width: 100%;

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 0 1rem;
    padding-bottom: 4rem!important;
  }

  &:before {
    @extend .material-icons;
    content: 'arrow_forward';
    font-size: 2rem!important;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    @include breakpoint($small-only) {
      bottom: 3rem;
      right: 3rem;
    }
  }

  &--recommendation {
    p {
      padding: 1rem 2rem;
      @media screen and (min-width: 787px) and (max-width: 937px) {
        font-size: 1.05rem;
      }
    }
  }

  &--insight {
    p {
      font-weight: bold;
      padding: 4rem;
    }
  }

  &--resource {
    h5 {
      font-size: 1.2rem;
      margin: 0;
      padding: 2rem 0 0 1rem;
    }

    p {
      font-family: $serif;
      padding-top: 0;
    }

    &:before {
      content: '';
    }

    .type {
      font-size: 0.7rem;
      font-family: $sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }
  }
}

.list__item--insight {
  min-height: 25rem;
}

.list__item--resource {
  min-height: 24rem;
}
