.divider--blue {
  background-color: $primary-blue;
  padding-bottom: 4rem;
  h4 {
    font-weight: bold!important;
    text-transform: none!important;
    text-align: left!important;
    margin: 3rem 0 0 0!important;
  }
}
