.fixed-dropdown {
  background-color: $light-gray;
  color: $dark-gray;
  text-align: center;

  .select {
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 0;
    width: auto;

    &:before {
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
  }

  &--themes {
    .select {
      width: 18rem;
      &:before {
        // padding-left: 2rem;
      }
    }
  }

}
