.fixed-dropdown {
  background-color: $light-gray;
  color: $dark-gray;
  font-family: $sans-serif;
  font-size: 0.9rem;
  text-align: center;

  .row {
    @include breakpoint($medium-only) {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  .toggle-container {
    padding: 0.7rem 0;
    text-align: left;
    @include breakpoint($large) {
      padding-left: 1rem;
    }
    @include breakpoint($medium-only) {
      text-align: center;
    }
    span {
      font-weight: 900;
      padding-right: 0.5rem;
    }

    .mdc-switch {
      margin: 0 0.5rem;
    }
  }

  .insight-dropdown {
    display: none;
  }

  .select {
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: auto;
    &:before {
      @extend .u-material-icons;
      padding-left: 1rem;
    }
    select {
      padding: 0 1.5rem 0 0.5rem;
      width: 100;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      &::-ms-expand {
        display: none;
      }
      &:focus {
        outline: -webkit-focus-ring-color auto 5px;
      }
    }
  }

  &--themes {
    .select {
      width: 18rem;
      &:before {
      }
    }
  }
}

:root {
  --mdc-theme-secondary: #404040 !important;
}

.mdc-switch__thumb::after,
.mdc-switch__thumb-underlay::before,
.mdc-switch__thumb-underlay::after {
  background-color: #404040 !important;
  border-color: #404040 !important;
}

.mdc-switch.mdc-switch--checked .mdc-switch__thumb {
  background-color: #404040 !important;
  border-color: #404040 !important;
}

.mdc-switch--checked.mdc-switch .mdc-switch__track {
  background-color: #404040 !important;
  border-color: #404040 !important;
}
