#index {
  padding-bottom: 4rem;
  color: $dark-gray;

  .button-conainter {
    @include breakpoint($medium-only) {
      padding-top: 1rem;
    }
  }

  .button {
    background-color: transparent;
    border: solid 4px $dark-gray;

    font-family: $sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    width: 60%;
    &:hover {
      background-color: $dark-gray;
      color: white;
    }
  }

  .page-section {
    padding-top: 3rem;
    @include breakpoint($medium-only) {
      padding-top: 2rem;
    }
    &--top {
      padding-top: 5rem;
    }
    p:first-child {
      margin-top: 0;
    }
  }

  .theme-cards-conatiner {
    padding-top: 2rem;
  }

  .theme-card {
    text-decoration: none;
    line-height: 1.2;
    position: relative;
    padding-bottom: 15%;
    @include breakpoint($medium-only) {
      padding-bottom: 20%;
    }
    @include breakpoint($small-only) {
      padding-bottom: 32%;
    }
    // @include breakpoint($large) {
    //   min-height: 35rem;
    // }
    // @include breakpoint($medium-only) {
    //   min-height: 22rem!important;
    // }
    // @include breakpoint($small-only) {
    //   min-height: 30rem!important;
    // }
    &__title {
      font-family: $sans-serif;
      font-size: 2.2rem;
      font-weight: bold;
      // padding-bottom: 12rem;
      @include breakpoint($medium-only) {
        font-size: 1.8rem;
      }
      @include breakpoint($small-only) {
        // padding-bottom: 10rem;
        font-size: 1.8rem;
      }
    }

    img {
      width: 4.5rem;
      padding-top: 35%;
      padding-bottom: 2rem;
      @include breakpoint($medium-only) {
        font-size: 1.8rem;
        min-height: 10rem;
        padding-top: 5rem;
        width: 3.5rem;
      }
      @include breakpoint($small-only) {
        padding-top: 7rem;
        width: 4rem;
      }
    }

    @include breakpoint($large) {
      &:nth-child(1), &:nth-child(4) {
        background-color: $cb-dark-gray;
      }

      &:nth-child(2), &:nth-child(3) {
        background-color: $cb-light-gray;
      }
    }

    @include breakpoint($medium-only) {
      background-color: $cb-dark-gray;
      &:nth-child(4n-2), &:nth-child(4n-1) {
        background-color: $cb-light-gray;
      }
    }

    @include breakpoint($small-only) {
      &:nth-child(odd) {
        background-color: $cb-dark-gray;
      }
      &:nth-child(even) {
        background-color: $cb-light-gray;
      }
    }

    &:hover {
      background-color: $green;
      color: white;
      img {
        -webkit-filter: invert(100%);
        filter: invert(100%);
      }
    }

    &:before {
      @extend .material-icons;
      content: 'arrow_forward';
      font-size: 3.5rem!important;
      position: absolute;
      bottom: 4rem;
      right: 4rem;
      @include breakpoint($medium-only) {
        font-size: 2.5rem!important;
        bottom: 2rem;
        right: 2rem;
      }
      @include breakpoint($small-only) {
        font-size: 3.5rem!important;
        bottom: 2.5rem;
        right: 2.5rem;
      }
    }
  }

}
