#index {
  padding-bottom: 4rem;
  color: $dark-gray;

  .button-conainter {
    @include breakpoint($medium-only) {
      padding-top: 1rem;
    }
  }

  .button {
    background-color: transparent;
    border: solid 4px $dark-gray;
    font-family: $sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    width: 60%;
    &:hover {
      background-color: $dark-gray;
      color: white;
    }
  }

  .page-section {
    padding-top: 3rem;
    @include breakpoint($medium-only) {
      padding-top: 2rem;
    }
    &--top {
      padding-top: 5rem;
    }
    p:first-child {
      margin-top: 0;
    }
  }
}
