#insight {
  color: $dark-gray;
  .insight-description {
    color: lighten($dark-gray, 15);
    padding-bottom: 2rem;
    @include breakpoint($large) {
      border-right: 1px solid lighten($dark-gray, 30);
      padding-right: 6rem;
    }

    p:first-of-type {
      margin-top: 0;
    }
  }

  .description-container {
    margin: 2rem auto;
  }

  h3 {
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
  }

  q {
    display: inline-block;
    &:before {
      content: '';
    }

    p {
      font-family: $sans-serif;
      font-size: 1.1rem;
      margin: 0 0 1rem 0;
    }
  }
}
