main {
  position: relative;
}

.nav {
  background-color: $cb-light-gray;
  color: $dark-gray;
  width: 17rem;
  text-align: left;

  &--large {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    @include breakpoint($small-only) {
      display: none;
    }
  }

  span {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    padding: 1rem 6rem 2rem 3rem;
  }

  i {
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-left: 3rem;
  }

  a {
    display: block!important;
    font-family: $sans-serif!important;
    font-size: .9rem!important;
    font-weight: bold!important;
    padding: 0.5rem 0;
    text-decoration: none!important;
    padding: 0.7rem 0 0.6rem 3rem!important;

    &:hover {
      background-color: $orange;
      color: white;
      cursor: pointer;
    }
  }
}

section {
  padding-left: 17rem;
  @include breakpoint($small-only) {
   padding-left: 0;
  }
}
