#recommendations {
  .recommendation {
    color: $dark-gray;
    text-decoration: none;
    min-height: 25rem;
    position: relative;

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      padding: 1rem 1rem;
    }

    @include breakpoint($large) {
      &:nth-child(odd) {
        background-color: $light-gray;
      }

      &:nth-child(even) {
        background-color: white;
      }
    }


    @include breakpoint($medium-only) {
      &:nth-child(4n-2), &:nth-child(4n-1) {
        background-color: $light-gray;
      }
    }

    @include breakpoint($small-only) {
      &:nth-child(odd) {
        background-color: $light-gray;
      }
      &:nth-child(even) {
        background-color: white;
      }
    }

    &:before {
      @extend .material-icons;
      content: 'arrow_forward';
      font-size: 2rem!important;
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      @include breakpoint($small-only) {
        bottom: 3rem;
        right: 3rem;
      }
    }

    &:hover {
      background-color: $green;
      color: white;
    }
  }
}
