* {
  box-sizing: border-box;
}

// Breakpoints
$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large: screen and (min-width: 64em);
$between-medium: screen and (min-width: 640px) and (max-width: 786px);
$between-large: screen and (min-width: 1024px) and (max-width: 1260px);

// Colors
$primary-blue: #495fbe;
$dark-blue: #2c3146;
$green: #21c78f;
$orange: #e85640;
$light-gray: #f4f4f4;
$dark-gray: #404040;
$cb-light-gray: #fafafa;
$cb-dark-gray: #ededed;

// Fonts
$sans-serif: 'Roboto', sans-serif;
$serif: 'Crimson Text', serif;

@import 'breakpoint';
@import 'mixins';

@import 'about';
@import 'base';
@import 'cards';
@import 'divider';
@import 'fixed-dropdown';
@import 'helpers';
@import 'index';
@import 'insight';
@import 'nav';
@import 'no-results';
@import 'tag';
@import 'top-section';
@import 'rich-text';
@import 'figure';
