{% assign about = site.data.contentful.about.about[0] %}

<div class="slide-panel slide-panel--from-left">
   <div tabindex="0" class="slide-panel__container">
      <div class="slide-panel__content">
        <button class="close-panel"><i class="material-icons" tabindex="0">close</i></button>
        <div class="row align-center">
          <div class="column large-12 medium-12 small-12">
            <h2>About the Project</h2>
            {{ about.about_description | markdownify }}
          </div>
          <div class="column large-12 medium-12 small-12">
            <img src="{{ about.simsec_logo.url }}" alt="Simply Secure Logo">
            {{ about.simsec_description | markdownify }}
          </div>
          <div class="column large-12 medium-12 small-12">
            <img src="{{ about.luminate_logo.url }}" alt="Luminate Logo">
            {{ about.luminate_description | markdownify }}
          </div>
        </div>
      </div>
   </div>
</div>
