<div class="slide-panel slide-panel--from-left">
   <div class="slide-panel__container">
      <div class="slide-panel__content">
        <i class="material-icons close-panel">close</i>
        <div class="row align-center">
          <div class="column large-12 medium-12 small-12">
            <h2>About the Project</h2>
            <p>Tauqesnoc odommoc ae xe piuqila tu isin sirobal ocmallu noitaticrexe durtson siuq ,mainev minim da mine tU .auqila angam erolod te erobal tu tnudidicni ropmet domsuie od des ,tile gnicsipida rutetcesnoc ,tema tis rolod muspi meroL</p>
          </div>
          <div class="column large-12 medium-12 small-12">
            <h2>About the Project</h2>
            <p>Tauqesnoc odommoc ae xe piuqila tu isin sirobal ocmallu noitaticrexe durtson siuq ,mainev minim da mine tU .auqila angam erolod te erobal tu tnudidicni ropmet domsuie od des ,tile gnicsipida rutetcesnoc ,tema tis rolod muspi meroL</p>
            <a href="#">Learn More</a>
          </div>
          <div class="column large-12 medium-12 small-12">
            <h2>About the Project</h2>
            <p>Tauqesnoc odommoc ae xe piuqila tu isin sirobal ocmallu noitaticrexe durtson siuq ,mainev minim da mine tU .auqila angam erolod te erobal tu tnudidicni ropmet domsuie od des ,tile gnicsipida rutetcesnoc ,tema tis rolod muspi meroL</p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
   </div>
</div>
