{% assign index = site.data.contentful.index.index[0] %}

<footer>
  <div class="row">
    <div class="column large-12 medium-12 small-12">
      <p class="partner-intro">Human-centered research on the grantee experience from</p>
    </div>
    <div class="column large-6 medium-12 small-12 partner">
      <a href="https://simplysecure.org/"><img src="{{ index.simsec_logo.url }}" alt="Simply Secure Logo"></a>
      {{ index.simsec_footer | markdownify }}
    </div>
    <div class="column large-6 medium-12 small-12 partner">
      <a href="https://luminategroup.com/"><img src="{{ index.luminate_logo.url }}" alt="Luminate Logo"></a>
      {{ index.luminate_footer | markdownify }}
    </div>
  </div>
</footer>
