<footer class='footer'>
  <div class="row medium-unstack">
    <div class="columns">
      <div class="row medium-unstack">
        <div class="footer__content footer--sections medium-4 column">
          <h2>Sections</h2>
          <nav class="footer__nav">
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/about.html' | relative_url }}">About</a>
          </nav>
        </div>
        <div class="footer__content medium-4 column">
          <h2>Lead Supporters</h2>
          {% comment %}         
          <a class="footer__partner-logo" href="" target="_blank"><img src="" alt=""></a>
          <a class="footer__partner-logo" href="" target="_blank"><img src="" alt=""></a>
          <a class="footer__partner-logo" href="" target="_blank"><img src="" alt=""></a>
          {% endcomment %}
        </div>
        <div class="footer__content medium-4 column">
          <h2>Based at</h2>
          {% comment %}    
          <a class="footer__partner-logo" href="" target="_blank"><img src="" alt=""></a>
          <a class="footer__partner-logo" href="" target="_blank"><img src="" alt=""></a>
          {% endcomment %}    
        </div>
      </div>
    </div>
  </div>
</footer>