{% assign index = site.data.contentful.index.index[0] %}

<nav class="nav nav--large">
  <a href="{{ '/'.html' }}"><i class="material-icons">wb_sunny</i></a>
  <a class="index-link" href="{{ '/'.html' }}">{{ index.report_title }}</a>
  <a class="slide-about-page" href="#">About</a>
  <a class="nav-link scroll-link" href="{{ '/#themes'.html' | relative_url }}" nav-data='themes'>Themes</a>
  <a class="nav-link" href="{{ '/insights.html' | relative_url }}" nav-data='insights'>Insights</a>
  <a class="nav-link" href="{{ '/recommendations.html' | relative_url }}" nav-data='recommendations'>Recommendations</a>
</nav>
