<nav class="nav nav--large">
  <i class="material-icons">wb_sunny</i>
  <a class="index-link" href="{{ '/'.html' }}">Trust, Power, and Support</a>
  <a class="slide-about-page" href="#">About</a>
  <a class="nav-link scroll-link" href="{{ '/#themes'.html' | relative_url }}" nav-data='themes'>Themes</a>
  <a class="nav-link" href="{{ '/insights.html' | relative_url }}" nav-data='insights'>Insights</a>
  <a class="nav-link" href="{{ '/recommendations.html' | relative_url }}" nav-data='recommendations'>Recommendations</a>
</nav>
