{% seo %}

{%if page.seo_image_path or site.seo_image_path %}
  {% if page.seo_image_path %}
    <meta property="og:image" content="{{ page.seo_image_path | absolute_url }}" />
  {% else %}
    <meta property="og:image" content="{{ site.seo_image_path | absolute_url }}" />
  {% endif %}
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
{% endif %}

<meta name="twitter:card" content="summary_large_image">

{%if site.twitter_username%}
  <meta name="twitter:site" content="{{ 'https://twitter.com/' | append: site.twitter_username }}">
{%endif%}

{% if page.title or site.title %}
  <meta name="twitter:title" content="{% if page.title | escape %}{{ page.title | escape }}{% else %}{{ site.title}}{% endif %}">
{% endif %}

{%if page.description or site.description %}
  {% if page.description %}
    {%comment%} use page descriptions to avoid duplicate descriptions{%endcomment%}
    <meta name="twitter:description" content="{{page.description | escape}}">
  {% else %}
    <meta name="twitter:description" content="{{site.description | escape}}">
  {% endif %}
{% endif %}

{%if page.seo_image_path or site.seo_image_path %}
  {% if page.seo_image_path %}
    <meta name="twitter:image" content="{{ page.seo_image_path | absolute_url }}">
  {% else %}
    <meta name="twitter:image" content="{{ site.seo_image_path | absolute_url }}">
  {% endif %}
{% endif %}

