<header class="top-bar">
  <span class="top-bar__button js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left">
    <a href="{{'/'.html' | relative_url}}">Home</a>
    <a href="{{'/about.html' | relative_url}}">About</a>
  </nav>
  <a class="top-bar__logo" href="{{'/'| relative_url}}"><img src="{{'/images/circle-logo.svg' | relative_url}}" alt="Project Logo"></a>
  <span class="top-bar__button js-trigger-menu">more_vert</span>
  <nav class="main-menu js-target-menu main-menu--right">
    <a href="#">Github Repository</a>
    <a href="{{'/sandbox.html' | relative_url}}">Sandbox</a>
  </nav>
</header>
