{% assign index = site.data.contentful.index.index[0] %}

<header class="top-bar">
  <span class="top-bar__button js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left nav">
    <a href="{{ '/' | relative_url }}"><img class="nav-logo" src="{{ '/images/logo-black.svg' | relative_url }}" alt="On Trust & Transparency Logo"></a>
    <a class="index-link" href="{{ '/' | relative_url }}">{{ index.report_title }}</a>
    <a class="slide-about-page" href="#">About</a>
    <a class="nav-link scroll-link" href="{{ '/#themes' | relative_url }}" nav-data='themes'>Themes</a>
    <a class="nav-link" href="{{ '/insights' | relative_url }}" nav-data='insights'>Insights</a>
    <a class="nav-link" href="{{ '/recommendations' | relative_url }}" nav-data='recommendations'>Recommendations</a>
    <a class="nav-link" href="{{ '/project-details' | relative_url }}" nav-data='project-details'>Project Details</a>
  </nav>
</header>
