---
layout: default
title: Figures
description: Accessible text versions of On Trust & Transparency report figures.
seo_image_path: #'/images/media/filename.jpg'
---

{% assign figures = site.data.contentful.figures.figure %}

<!-- Themes -->
{% assign themes = "" | split: "" %}
{% for insight in insights %} {% assign themes = themes | push: insight.related_theme | join: ", " %} {% assign themes =
themes | split: ", " | uniq %} {% assign themes =
themes | sort %} {% endfor %}

<main role="main" id="figures-page">

  {% include nav.html %}

  <section class="top-section">
    <div class="row align-middle">
      <div class="column large-12 medium-12 small-12">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row">
      <div class="column large-12">
        {% for figure in figures %}
          <div class="chart-container" id="{{figure.figure_number | prepend: 'figure-'}}">
            <figure><div class="figure-number">Figure {{figure.figure_number}}</div><div class="figure-title">{{figure.figure_title}}</div>
            <div class="figure-description">{{figure.figure_description | markdownify }}</div>
            </figure>
            <div class="figure-link-container underline-link">
              {% assign chart_anchor = "#chart-" | append: figure.figure_number %}
              <a class="go-back-link" href="{{'/project-details/' | append: chart_anchor | relative_url }}">Go Back</a>
            </div>
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>
  </section>


</main>
