---
layout: default
title:
description:
seo_image_path: #'/images/media/filename.jpg'
---

{% assign index = site.data.contentful.index.index[0] %}
{% assign themes = site.data.contentful.theme.theme %}

<main role="main" id="index">

  {% include nav.html %}

  <section class="top-section top-section--index">
    <div class="row">
      <div class="large-4 medium-5 column">
        <h1>{{ index.report_title }}</h1>
        <h2>{{ index.report_subtitle }}</h2>
        <hr>
      </div>
    </div>
  </section>

  <section class="page-section page-section--top">
    <div class="row align-center">
      <div class="column large-6 medium-12 small-12">
        {{ index.intro_copy | markdownify }}
      </div>
      <div class="column large-6 medium-10 small-12 center">
        <a class="button" href="#">Download Report</a>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row align-center">
      <div class="column large-12">
        <h3>Themes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed necessitatibus, error eaque vero aperiam numquam, tenetur, soluta quibusdam odio eius aut. Distinctio placeat repellendus, repellat neque itaque in esse nobis!</p>
      </div>
    </div>

    <div class="row expanded">
      {% for theme in themes %}
        <a href="{{ theme.page_title | slugify }}" class="column large-6 medium-12 small-12 theme-card">
          <div class="row expanded align-center">
            <div class="column large-8 medium-8 small-12">
              <img src="{{ theme.theme_icon.url }}" alt="">
              <div class="theme-card__title">{{ theme.page_title }}</div>
            </div>
          </div>
        </a>
      {% endfor %}

    </div>
  </section>

  <section class="page-section">
    <div class="row align-center">
      <div class="column large-12">
        <h3>Insights</h3>
      </div>
      <div class="column large-6 medium-12 small-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed necessitatibus, error eaque vero aperiam numquam, tenetur, soluta quibusdam odio eius aut. Distinctio placeat repellendus, repellat neque itaque in esse nobis!</p>
      </div>
      <div class="column large-6 medium-10 small-12 center">
        <a class="button" href="#">All Insights</a>
      </div>
    </div>
  </section>

</main>
