---
layout: default
title: Insights
description:
seo_image_path: #'/images/media/filename.jpg'
list_js: true
---

{% assign insights = site.data.contentful.insight.insight %}

<!-- Themes -->
{% assign themes = "" | split: "" %}
{% for insight in insights %} {% assign themes = themes | push: insight.related_theme | join: ", " %} {% assign themes =
themes | split: ", " | uniq %} {% assign themes =
themes | sort %} {% endfor %}

<main role="main" id="insights">

  {% include nav.html %}

  <section class="top-section">
    <div class="row">
      <div class="column large-12 medium-12 small-12">
        <h1>Insights</h1>
      </div>
      <div class="column large-12 medium-12 small-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </section>

  <section class="fixed-dropdown">
    <div class="row align-center">
      <div class="column large-3 medium-5 small-6">
        <div class="select">
          <select class="dropdown" id="theme" data-filter="theme">
            <option data-select="all">All Themes</option>
            {% for theme in themes %}
              <option data-select="{{ theme | slugify }}">{{ theme }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div id="insights-list">
      <ul class="list" style="all: unset">
        {% for insight in insights %}
          <li class="list-item">
            <div class="theme" style="display: none">all {% for item in insight.related_theme %} {{ item | slugify }} {% endfor %}</div>
            <div class="title" style="display: none">{{ insight.insight_title | slugify }}</div>
            <a href="{{ insight.page_title | slugify | prepend: '/insights/' | append: '.html' | relative_url }}" class="card card--insight">
              {{ insight.insight_title | markdownify }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="no-results">
        <p>No Results</p>
        <a href="#" class="clear-all button">Clear All</a>
      </div>
    </div>
  </section>

</main>
