---
layout: default
title: Insights
description:
seo_image_path: #'/images/media/filename.jpg'
---

{% assign insights = site.data.contentful.insight.insight %}

<main role="main" id="insights">

  {% include nav.html %}

  <section class="top-section">
    <div class="row">
      <div class="column large-12 medium-12 small-12">
        <h1>Insights</h1>
      </div>
      <div class="column large-12 medium-12 small-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </section>

  <section class="fixed-dropdown">
    <div class="row align-center">
      <div class="column large-3 medium-5 small-6">
        <div class="select">
          <select class="" name="">
            <option value="all">All Themes</option>
            <option value="">First option</option>
            <option value="">Second option</option>
          </select>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="row expanded">
      {% for insight in insights %}
        <a href="{{ insight.page_title | slugify | prepend: '/insights/' | append: '.html' | relative_url }}" class="column large-4 medium-6 small-12 card card--insight">
          {{ insight.insight_title | markdownify }}
        </a>
      {% endfor %}
    </div>
  </section>

</main>
