---
layout: default
title: Recommendations
description:
seo_image_path: #'/images/media/filename.jpg'
list_js: true
---

{% assign recommendations = site.data.contentful.recommendation.recommendation %}

<!-- Themes -->
{% assign themes = "" | split: "" %}
{% for recommendation in recommendations %} {% assign themes = themes | push: recommendation.theme_tag | join: ", " %} {% assign themes =
themes | split: ", " | uniq %} {% assign themes =
themes | sort %} {% endfor %}

<!-- Insights -->
{% assign insights = "" | split: "" %}
{% for recommendation in recommendations %} {% assign insights = insights | push: recommendation.insight_tag | join: "| " %} {% assign insights = insights | split: "| " | uniq %} {% assign insights = insights | sort %} {% endfor %}

<main role="main" id="recommendations">

  {% include nav.html %}

  <section class="top-section">
    <div class="row">
      <div class="large-12 medium-5 column">
        <h1>Recommendations</h1>
      </div>
      <div class="column large-12 medium-12 small-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </section>

  <section class="fixed-dropdown">
    <div class="row align-center">
      <div class="column large-3 medium-5 small-6">
        <div class="select">
          <select class="dropdown" id="theme" data-filter="theme">
            <option data-select="all">All Themes</option>
            {% for theme in themes %}
              <option data-select="{{ theme | slugify }}">{{ theme }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="column large-3 medium-5 small-6">
        <div class="select">
          <select class="dropdown" id="insight" data-filter="insight">
            <option data-select="all">All Insights</option>
            {% for insight in insights %}
              <option data-select="{{ insight | slugify }}">{{ insight }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div id="recommendations-list">
      <ul class="list list--recommendation">
        {% for recommendation in recommendations %}
          <li class="list__item">
            <div class="theme" style="display: none">all {% for item in recommendation.theme_tag %} {{ item | slugify }} {% endfor %}</div>
            <div class="insight" style="display: none">all {% for item in recommendation.insight_tag %} {{ item | slugify }} {% endfor %}</div>
            <div class="title" style="display: none">
              {{ recommendation.recommendation | slugify }}
            </div>
            <a href="{{ recommendation.page_title | slugify | prepend: '/recommendations/' | append: '.html' | relative_url }}" class="card card--recommendation">
              {{ recommendation.recommendation | markdownify }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="no-results">
        <p>No Results</p>
        <a href="#" class="clear-all button">Clear All</a>
      </div>
    </div>

  </section>

</main>
