---
layout: default
title: Recommendations
description:
seo_image_path: #'/images/media/filename.jpg'
---

{% assign recommendations = site.data.contentful.recommendation.recommendation %}

<main role="main" id="recommendations">

  {% include nav.html %}

  <section class="top-section">
    <div class="row">
      <div class="large-12 medium-5 column">
        <h1>Recommendations</h1>
      </div>
      <div class="column large-12 medium-12 small-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </section>

  <section class="fixed-dropdown">
    <div class="row align-center">
      <div class="column large-3 medium-5 small-6">
        <div class="select">
          <select class="" name="">
            <option value="all">All Themes</option>
            <option value="">First option</option>
            <option value="">Second option</option>
          </select>
        </div>
      </div>
      <div class="column large-3 medium-5 small-6">
        <div class="select">
          <select class="" name="">
            <option value="all">All Insights</option>
            <option value="">First option</option>
            <option value="">Second option</option>
          </select>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="row expanded">
      {% for recommendation in recommendations %}
        <a href="{{ recommendation.page_title | slugify | prepend: '/recommendations/' | append: '.html' | relative_url }}" class="column large-4 medium-6 small-12 card">
          {{ recommendation.recommendation | markdownify }}
        </a>
      {% endfor %}
    </div>
  </section>

</main>
